body{
  font-family: Lato;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

h1{
  letter-spacing:20px;
  margin-left: 20px;
}

h5{
  letter-spacing: -1px;
}

button{
  letter-spacing: 0px;
}

h2{
  letter-spacing: 5px;
}


/*fadeinbackground*/


/*.div1{
  padding: 80px 0px 0px 0px;
  margin:0px auto;
  color:black;
  background-image: url('../img/bgnew.jpg');
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover !important;
  z-index: -1;
  text-align: center;
}*/

.fadein{ 
  position:relative; 
  width:100%; 
  height:300px; 
  background: #ffffff;
}

.fadein img{ 
  position:absolute; 
  left:0; 
  top:0;
  width: 100%;
  height: 300px;
  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
  -ms-filter: grayscale(30%);
  -o-filter: grayscale(30%);
  filter: grayscale(30%);
}

.div1{
  background: transparent; 
  position:absolute;
  top:85px; 
  width:100%; 
  height:250px; 
  text-align: center;
  margin:0px auto;
}



.item img{
  width: 100%;
}

/*style the navbar*/

/*add a dark background color with a little bit see-through*/
.navbar{
  margin-bottom: 0;
  background-color: #2d2d30;
  border:0;
  font-size: 9px !important;
  letter-spacing: 4px;
  opacity: 0.8; 

}

.navbar-brand img{
  width: 150px;
  height: 60px;
  opacity: 1.0;
  margin-top: -10px;
}

/*add a grey color to al navbar links*/
.navbar li a, .navbar{
  color: #d5d5d5 !important;
}

/*Remove the border color from the collapsible button*/
.navbar-default .navbar-toggle{
  border-color: transparent;
}

/*navbar-change*/
.navbar-change{
  background:#000000;
  opacity: 1.0;
}

.navbar-change img{
  width: 180px;
  height: 80px;
  opacity: 1.0;
  margin-top: -10px;
  box-shadow: 10px 10px 5px #888888;

}

/*the active and hover link*/

.navbar-right li a:hover{
    color: #000000 !important;
    background-color:  #e6e6e6 !important;  
}

.navbar-right li.active a {
    color: #000000 !important;
    background-color: #ffffff !important;
}

/*Dropdown*/
.open .dropdown-toggle{
  color: #000000 !important;
  background-color: #fff !important;
}

/*Dropdown links*/
.dropdown-menu li a{
  color: #000000 !important;
}

/*On hover the dropdown links will turn red*/
.dropdown-menu li a:hover{
  background-color: #000000 !important;
  color: #ffffff !important;
}
/*social*/
a,a:visited { color: #fff; }
a:hover { color: #fff; }


.social {
  margin-top: 16px; 
  width: 25px; 
  height: 25px;   
  display: block; text-align: center;
  line-height: 25px;
  color: #fff;
  position:relative;
  transform:rotateY(10deg);
  transition:transform .25s ease-out;
  transform-style:preserve-3d;
}
.social > div {
  width: 26px; height: 25px; background: #2d2d30;
  position: absolute; top: 0px; left: 0; right: 0px;bottom: 0px;
}
.social >.front {
  transform:translateZ(0px);
}
.social >.back {
  background: #3B5998; font-size: 1.5em;
  transform:rotateY(-100deg) translateZ(15px);
}

/*  Social Media Colors 
  Facebook #3B5998
  Flickr #FE0883
  Foursquare #8FD400
  Google+ #C63D2D
  Instagram #4E433C
  Linkedin #4875B4
  Tumblr #2B4964
  Twitter #33CCFF
  Vimeo #86B32D
  Youtube #FF3333
  Dribbble #ea4c89
*/
.social.social-twitter > .back { background: #55ACEE; }
.social.social-github > .back { background: #f3f3f3; color: #000; }
.social.social-pinterest > .back { background: #e3262e; }
.social.social-googleplus > .back { background: #dd4B39; }
.social.social-skype > .back { background: #12A5F4; }
.social.social-linkedin > .back { background: #4875B4; }
.social.social-dribbble > .back { background: #ea4c89; }

/* Hover */
.social:hover {
  transform: rotateY(100deg);
}

/*Portfolio*/



.portfolioitem {
    position: relative;
    width:250px;
    height:200px;
    overflow:hidden;
    background-color:#000f00;
    list-style: none;
    left: 50%;
    margin-left: -125px;
}
.portfolioitem p,.portfolioitem h2 {
    color:#ffffff;
    padding:0px;
    left:-20px;
    top:20px;
    position:relative;
}
.portfolioitem p {
    font-size:12px;
    line-height:18px;
    margin:0;
    letter-spacing:0px;
}
.portfolioitem h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    letter-spacing:0px;

}
.portfolioeffect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out;
}
.portfolioeffect img.top:hover {
    bottom:-150px;
    padding-top:120px;
}

#portfolio>h2{
  color: #ffffff;
}

#portfolio .row .col-sm-4>p{
  color: #ffffff;
  letter-spacing: 5px;
}


/*black buttons with extra padding and without rounded borders*/
.btn{
  padding: 10px 20px;
  color: #f1f1f1;
  background-color: #333;
  transition:.2s;
}

/*on hover the color of the .btn will transition to white with black text*/
.btn:hover, .btn:focus{
  border:1px solid #333;
  background-color: #fff;
  color: #000;
}

/*add a dark grey background color to the modal header and center text*/
.modal-header,.close{
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;

}

.modal-header,.modal-body{
  padding: 40px 50px;
}

#skills{
  background: white;
}

#filter{
  text-decoration: none;
  list-style: none;
  text-align: center;
}

#filter li{
  display:inline;
}

#skillsname li{
  list-style: none;
  display: inline;
  float: left; 

}

#skillsname img{
  opacity: 0.85;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#skillsname img:hover{
  z-index: 999;
  opacity: 1.0;
  -webkit-transform: scale(1.10);
  transform: scale(1.10);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

#myskills {
  text-align: center;
  width: 760px;
}

.skillimage{
  height: 180px;
  width:180px;
}

.skillimagesmall{
  height: 90px;
  width:180px;
}

/*arrows*/
#arrowdown{
  border-top: 10px solid #000000  ;
  border-left: 14px solid rgba(0,0,0, 0);
  border-right: 14px solid rgba(0,0,0, 0);
  display: inline-block;
  height: 0;
  /*vertical-align: top;*/
  width: 0;
  position: center;
}

#arrowup{
  border-bottom: 10px solid #ffffff;
  border-left: 14px solid rgba(0,0,0, 0);
  border-right: 14px solid rgba(0,0,0, 0);
  display: inline-block;
  height: 0;
  /*vertical-align: top;*/
  width: 0;
  position: center;
}

#arrowup:hover{
  
  border-bottom: 10px solid #ffffff;
  border-left: 20px solid rgba(0,0,0, 0);
  border-right: 20px solid rgba(0,0,0, 0);
  -webkit-transition: border-top .20s linear;
  -webkit-transition: border-left .20s linear;
  -webkit-transition: border-right .20s linear;
  -o-transition: border-top .20s linear;
  -o-transition: border-left .20s linear;
  -o-transition: border-right .20s linear;
  -moz-transition:border-top .20s linear;
  -moz-transition:  border-left .20s linear;
  -moz-transition: border-right .20s linear;
  transition:  border-top .20s linear;
  transition:  border-left .20s linear;
  transition:  border-right .20s linear;
}


/*whoami*/
#whoami{
  color: #ffffff;
  background-image: url('../img/bgme16.jpg');
   background-attachment:fixed;
  background-size:cover;
  -webkit-background-size:cover!important;
    padding: 30px 30px 0px 30px;

}

#whoamip1{
  text-align: right;
}

#whoamip2{
  text-align: left;
}

/*contact*/
#contact{
  text-align: center;
}

#contact h2{
  color: #ffffff;
}

/*************slider**************/
.carousel-caption{
  padding-bottom: 0;
}

.form-inline{
  padding-bottom: 40px;
}

#arrowdown:hover{
  
  border-top: 10px solid #000000;
  border-left: 20px solid rgba(0,0,0, 0);
  border-right: 20px solid rgba(0,0,0, 0);
  -webkit-transition: border-top .20s linear;
  -webkit-transition: border-left .20s linear;
  -webkit-transition: border-right .20s linear;
  -o-transition: border-top .20s linear;
  -o-transition: border-left .20s linear;
  -o-transition: border-right .20s linear;
  -moz-transition:border-top .20s linear;
  -moz-transition:  border-left .20s linear;
  -moz-transition: border-right .20s linear;
  transition:  border-top .20s linear;
  transition:  border-left .20s linear;
  transition:  border-right .20s linear;
}

#arrowdownwhite{
  color: white;
  border-top: 10px solid #FFFFFF;
  border-left: 14px solid rgba(0, 0, 0, 0);
  border-right: 14px solid rgba(0, 0, 0, 0);
  display: inline-block;
  height: 0;
  vertical-align: top;
  width: 0;
  position: center;
}


#arrowdownwhite:hover{
  border-top: 10px solid #FFFFFF;
  border-left: 20px solid rgba(0,0,0, 0);
  border-right: 20px solid rgba(0,0,0, 0);
  -webkit-transition: border-top .20s linear;
  -webkit-transition: border-left .20s linear;
  -webkit-transition: border-right .20s linear;
  -o-transition: border-top .20s linear;
  -o-transition: border-left .20s linear;
  -o-transition: border-right .20s linear;
  -moz-transition:border-top .20s linear;
  -moz-transition:  border-left .20s linear;
  -moz-transition: border-right .20s linear;
  transition:  border-top .20s linear;
  transition:  border-left .20s linear;
  transition:  border-right .20s linear;
}


/*style for video background*/

#video {
  min-height: 100%;
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -10;}

video { 
display: block; 
}


 #video video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*#video h1 {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    color: #fff;
    width: 50%;
    height: 1em;
    text-align: center;
    z-index: 10;
  }
#video {
  min-height: 100%;
  background-color: #666;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;}*/

  .carousel-indicators {
  bottom:+50px;
}

#arrowdown1{
  bottom: +40px;
}


#about{
  padding: 40px 0px 0px 0px;
  background-color: white;
}

.timeline {
    box-sizing: border-box;
color: rgb(51, 51, 51);
font-size: 14px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
}

.timeline::before{
background-color: #cccccc;
bottom: 0px;
box-sizing: border-box;
color: rgb(51, 51, 51);
content: "";
font-size: 14px;
left: 50%;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-left: -1.5px;
position: absolute;
top: 0px;
width: 2px;
z-index: 1;
}

.timeline > li {
  min-height: 140px;
  margin-bottom: 80px;
  position: relative;
}

.timeline > li .timeline-image {
  left: 50%;
  width: 140px;
  height: 140px;
  position: absolute;
  background-color: #fed136;
  color: #fff;
  border-radius: 100%;
  border: 10px solid #f1f1f1;
  text-align: center;
  margin-top: 0;
  z-index: 2;
}

.timeline > li .timeline-panelleft {
  width: 40%;/*control the size of the text panel*/
  float: left;
  padding: 0 20px 0 50px;
  position: relative;
  text-align: right;
}

.timeline > li .timeline-panelright {
  width: 40%;/*control the size of the text panel*/
  float: right;
  padding: 0 50px 0 20px;
  position: relative;
  text-align: left;
}

/*.skillicon{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 10px solid #f1f1f1;
}*/

#googleMap {
    width: 90%; /* Span the half width of the screen */
    height: 150px; /* Set the height to 400 pixels */
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* Change the color of the map to black and white */
    left: 5%;
    z-index: -4;
}

/*socialbottom*/
.socialbottom ul > li{
  list-style: none;
  display:inline-block;
}

.social2{
  margin: 0 0 20px 0;
}
.social2 div{
  width: 30px;
  height: 30px;
  background:#2d2d30;
  color: #ffffff;
}


/*footer*/

footer{
  background: #2d2d30;
}

footer p{
  font-size: 8px;
  color: #ffffff;
}
/*tothetop*/
/*************************
*****Back To Top*****
**************************/

#return-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i{
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover{
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i{
    color: #fff;
    top: 5px;
}

/*signinandup*/

#sign{
    position: fixed;
    top: 120px;
    left: 30px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-group-vertical button{
  border:1px solid #ffffff;
}

/*slidein*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 0.5s; 
    -webkit-animation-duration: 0.5s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}











/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
  
    }       
    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

          .timeline > li .timeline-image {
            left: 50%;
            margin-left: -70px;
            width: 140px;
            height: 140px;
            position: absolute;
            background-color: #fed136;
            color: #fff;
            border-radius: 100%;
            border: 10px solid #f1f1f1;
            text-align: center;
            margin-top: 0;
            z-index: 2;
          }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .carousel-caption{
          padding-bottom: 0;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {


    
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1700px) {
    #whoami{
  color: #ffffff;
  background-image: url('../img/bgme16.jpg');
   background-attachment:fixed;
  background-size:100% 90%;
  -webkit-background-size:100% 90%!important;
    padding: 30px 30px 0px 30px;

}
    }
    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {


        #myskills {
          text-align: center;
          width: 600px;
        }

        .skillimage{
          height: 180px;
          width:180px;
        }

        .skillimagesmall{
          height: 180px;
          width:180px;
        }

    }  

     @media only screen and (max-width : 650px) {
        #filter{
          width: 350px;
        }
        #filter li{
          display: inline;
        }
        #filter button{
              padding: 5px 5px;
              color: #ffffff;
              background-color: #6E6E6E;
              transition:.2s;
              opacity: 50%;
        }

        #filter button:hover, #filter .button:focus{
            border:1px solid #333;
            background-color: #fff;
            color: #000;
          }

        #myskills {
          text-align: center;
          width: 390px;
        }

        .skillimage{
          height: 100px;
          width:100px;
        }

        .skillimagesmall{
          height: 100px;
          width:100px;
        }
     }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        .timeline::before{
            background-color:#cccccc;
            bottom: 0px;
            box-sizing: border-box;
            content: "";
            font-size: 14px;
            left: 20%;
            line-height: 20px;
            list-style-image: none;
            list-style-position: outside;
            list-style-type: none;
            margin-left: -1.5px;
            position: absolute;
            top: 0px;
            width: 2px;
            z-index: 1;
            }  
        .timeline > li .timeline-image {
            left: 20%;
            margin-left: -60px;
            width: 120px;
            height: 120px;
            position: absolute;
            color: #fff;
            border-radius: 100%;
            border: 10px solid #f1f1f1;
            text-align: center;
            margin-top: 0;
            z-index: 2;
          }
          .timeline > li {
            min-height: 120px;
            margin-bottom: 70px;
            position: relative;
          }
          .timeline > li .timeline-panelleft {
            left: 15%;
            width: 70%;/*control the size of the text panel*/
            float: left;
            position: relative;
            text-align: right;
            z-index: 3;
          }

          .timeline > li .timeline-panelright {
            left: 22%;
            width: 70%;/*control the size of the text panel*/
            float: left;
            position: relative;
            text-align: right;
            z-index: 3;
          }




           .effect-lexi{
          left: 50%;
          width: 160px;
          margin-left: -150px;
          display: block;
        } 


        #filter{
          width: 180px;
        }
        #filter li{
          display: block;
          left: 50%;
          margin-left: -30px;
        }
        #filter button{
              padding: 5px 5px;
              color: #ffffff;
              background-color: #6E6E6E;
              transition:.2s;
              opacity: 50%;
        }

        #myskills {
          text-align: center;
          width: 180px;

        }

        .skillimage{
          height: 150px;
          width:150px;
           left: 50%;
           margin-left: -30px;
        }

        .skillimagesmall{
          height:150px;
          width:150px;
          left: 50%;
          margin-left: -30px;
        }



        }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        h1{
          letter-spacing: 5px;
          font-weight: 100;
        }

        #sign{
            position: fixed;
            top: 250px;
            left: 0px;
            display: none;
            opacity: 30%;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        .btn-group-vertical button{
          border:1px solid #ffffff;
        }
    }



    /*=====================================================
=            Bootstrap 2.3.2 Media Queries            =
=====================================================*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 979px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}
